html,body{
	box-sizing: border-box;

}
#navbar{
	display: block;
	float: left;
}
#sidebar{
	background-color: #00051a;
	display: block;
	max-width: 250px;
	font-size: 18px;

}
li{
	display: list-item;
	list-style: none;
}
#header{
	background-color: grey;
}